openapi: 3.0.3
info:
  title: OutfitShop API
  description: Enterprise RESTful API Backend for OutfitShop Ecommerce Clothing & Point-of-Sale System.
  version: "Version: 1.2.0"
  contact:
    name: OutfitShop API Engineering Lead
    email: ""
servers:
  - url: https://api.kesararamwithdigital.tech/api/v1
    description: Production API Gateway
  - url: http://127.0.0.1:8000/api/v1
    description: Local Development Server

paths:
  /health:
    get:
      summary: System Health & Database Ping
      responses:
        '200':
          description: System is healthy
  /status:
    get:
      summary: OutfitShop System Status & Brand Assets
      responses:
        '200':
          description: System status retrieved
  /auth/login:
    post:
      summary: Staff & Customer Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful with token
  /products:
    get:
      summary: List Products with Pagination
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Paginated product list
  /cart:
    get:
      summary: Retrieve Active Shopping Cart
      responses:
        '200':
          description: Cart retrieved
  /cart/items:
    post:
      summary: Add Item to Shopping Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variant_id]
              properties:
                variant_id:
                  type: integer
                quantity:
                  type: integer
      responses:
        '201':
          description: Item added to cart
  /wishlist:
    get:
      summary: Get Customer Wishlist
      parameters:
        - name: customer_id
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Wishlist items
  /wishlist/toggle:
    post:
      summary: Toggle Product in Wishlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customer_id, product_id]
              properties:
                customer_id:
                  type: integer
                product_id:
                  type: integer
      responses:
        '200':
          description: Toggled
  /orders/checkout:
    post:
      summary: Atomic Order Checkout (10% VAT + Pessimistic Row-Locking)
      security:
        - BearerAuth: []
      parameters:
        - name: X-Idempotency-Key
          in: header
          required: false
          schema:
            type: string
      responses:
        '201':
          description: Order completed successfully
  /orders:
    get:
      summary: List Order History
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Order history
  /orders/{id}:
    get:
      summary: Get Order Details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details
  /dashboard/stats:
    get:
      summary: API Observability Metrics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: APM telemetry

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum
