{
  "openapi": "3.0.3",
  "info": {
    "title": "Retail Clothing Store MIS & POS REST API",
    "description": "Enterprise Monolithic Headless RESTful API Backend for Retail Clothing Store Management System (SS-MIS / CSMS).",
    "version": "1.0.0",
    "contact": {
      "name": "API Engineering Lead",
      "email": "support@kesararamwithdigital.tech"
    }
  },
  "servers": [
    {
      "url": "https://api.kesararamwithdigital.tech/api/v1",
      "description": "Production API Gateway"
    },
    {
      "url": "http://127.0.0.1:8000/api/v1",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "System Health & Database Ping",
        "description": "Returns system uptime, database connection status, and Cloudinary CDN connectivity.",
        "responses": {
          "200": {
            "description": "System is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Staff & Cashier Authentication",
        "description": "Validates credentials and returns a Laravel Sanctum Bearer token with assigned RBAC role.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username", "password"],
                "properties": {
                  "username": { "type": "string", "example": "cashier1" },
                  "password": { "type": "string", "example": "Password123!" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful with token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List Products with Pagination",
        "description": "Retrieve catalog products with pricing, brand, and media assets.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "category_id", "in": "query", "schema": { "type": "integer" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Paginated product list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}/matrix": {
      "get": {
        "summary": "2D Size x Color Variant Matrix",
        "description": "Returns 2D grid matrix of physical stock quantities across all size and color combinations.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "2D Variant Matrix retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/variants/barcode/{barcode}": {
      "get": {
        "summary": "Continuous Barcode Scanner Lookup",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          { "name": "barcode", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Variant details and price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Barcode not found in catalog"
          }
        }
      }
    },
    "/sales/checkout": {
      "post": {
        "summary": "Atomic POS Checkout (10% VAT + Pessimistic Row-Locking)",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": { "type": "string" },
            "description": "Client-generated UUID to prevent double-charging on network retries"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["items", "payment_method"],
                "properties": {
                  "customer_id": { "type": "integer", "nullable": true },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["variant_id", "quantity"],
                      "properties": {
                        "variant_id": { "type": "integer" },
                        "quantity": { "type": "integer" },
                        "discount": { "type": "number", "default": 0 }
                      }
                    }
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": ["CASH", "CARD", "QR", "ABA", "BAKONG", "GIFT_CARD"]
                  },
                  "payment_amount": { "type": "number" },
                  "overall_discount": { "type": "number", "default": 0 },
                  "tax_rate": { "type": "number", "default": 10.0 }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sale completed, stock deducted, invoice generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Insufficient stock or invalid payment amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/shifts/open": {
      "post": {
        "summary": "Open POS Cash Register Shift",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["opening_float_usd"],
                "properties": {
                  "opening_float_usd": { "type": "number" },
                  "opening_float_khr": { "type": "number" },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Shift opened successfully" },
          "400": { "description": "Cashier already has an active open shift" }
        }
      }
    },
    "/shifts/close": {
      "post": {
        "summary": "Close Register Shift & Generate Z-Report",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["closing_cash_usd"],
                "properties": {
                  "closing_cash_usd": { "type": "number" },
                  "closing_cash_khr": { "type": "number" },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Shift closed with End-of-Day Z-Report reconciliation" }
        }
      }
    },
    "/dashboard/stats": {
      "get": {
        "summary": "API Telemetry & APM Observability Metrics",
        "security": [{ "BearerAuth": [] }],
        "description": "Returns real-time SLA metrics (avg latency, 401 auth failures, 429 rate limit hits, slowest endpoints).",
        "responses": {
          "200": {
            "description": "APM telemetry retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Sanctum"
      }
    },
    "schemas": {
      "SuccessEnvelope": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": { "type": "string", "example": "Operation completed successfully" },
          "data": { "type": "object" },
          "request_id": { "type": "string", "format": "uuid", "example": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d" }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "message": { "type": "string", "example": "Error description" },
          "error_code": { "type": "string", "example": "ERR_INSUFFICIENT_STOCK" },
          "errors": { "type": "object" },
          "request_id": { "type": "string", "format": "uuid", "example": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d" }
        }
      }
    }
  }
}
